.favourites {
  padding-top: 80px;
  width: 100%;
}

.favourities__title {
  text-align: center;
  color: #ff0900;
  font-size: 36px;
}

.favourities__content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50%, 1fr));
}

.favourites__notLogged {
  text-align: center;
}
@media (max-width: 900px) {
  .favourities__content {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 700px) {
  .favourities__title {
    font-size: 24px;
  }
}

@media (max-width: 550px) {
  .favourities__title {
    font-size: 18px;
  }
}
