.favourites {
  padding-top: 80px;
  width: 100%;
}

.favourities__title {
  text-align: center;
  color: #ff0900;
  font-size: 36px;
}

.favourities__content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50%, 1fr));
}

@media (max-width: 900px) {
  .recipeContent__container {
    grid-template-columns: 1fr;
  }
}
