.navbar {
  display: flex;
  justify-content: space-between;
  background-color: rgb(250, 250, 250);
  font-family: Georgia, "Times New Roman", Times, serif;
  height: 60px;
  align-items: center;
  width: 100%;
  position: fixed;
  box-shadow: 0 1px 8px #777;
}

.navbar__hamburgerIcon {
  padding: 19px;
  font-size: 32px;
  cursor: pointer;
}
.navbar__hamburgerIcon:hover {
  color: black;
}

.navbar__title {
  font-size: 44px;
  padding: 9px;
  font-weight: 600;
  color: #ff0900;
}

.navbar__login {
  color: #707070;
  display: flex;
  align-items: center;
  font-size: 18px;
}

.navbar .navbar__social {
  display: flex;
}

.navbar .navbar__icon {
  padding: 18px;
  color: #ff0900;
  font-size: 24px;
  cursor: pointer;
}

.navbar__search {
  color: #707070;
  font-size: 18px;
  padding: 21px;
  cursor: pointer;
}

.navbar__link {
  cursor: pointer;
}

.navbar__link:hover {
  color: black;
}

@media (max-width: 1020px) {
  .navbar__icon {
    display: none;
  }
  .navbar__login > p {
    display: none;
  }
}

@media (max-width: 600px) {
  .navbar__title {
    font-size: 32px;
  }
}

@media (max-width: 385px) {
  .navbar__title {
    font-size: 28px;
  }
}
