.sidebar__hamburgerColumn {
  width: 400px;
  background-color: #707070;
  height: 100vh;
  top: 0;
  z-index: 1;
  position: fixed;
  transition: transform 1s ease;
  transform: translate(0);
  text-align: center;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.hide {
  transition: all 0.7s ease;
  transform: translate(-100%);
}

.sidebar__hamburgerColumn > img {
  margin: 20px auto;
}

.sidebar__hamburgerColumn > ul > li {
  font-size: 29px;
  font-weight: 600;
  padding: 20px 0;
  color: #ff0900;
  list-style-type: none;
}

.sidebar__icon {
  color: #ff0900;
  padding: 10px;
  font-size: 24px;
}

.sidebar__hamburgerColumn > p {
  padding-top: 30px;
  font-size: 18px;
  font-weight: 600;
  color: #ff0900;
}

.sidebar__loginContainer {
  padding-top: 20px;
}

.sidebar__loginContainer:hover {
  color: #ff0900;
}

.sidebar__loginContainer > p {
  width: 40%;
  padding: 5px;
  margin: 0 auto;
  cursor: pointer;
  color: rgb(170, 170, 170);
  letter-spacing: 0.3px;
  border: 1px solid rgb(170, 170, 170);
}
.sidebar__link:hover {
  color: #ff0900;
}

.close {
  position: absolute;
  top: 2%;
  color: #ff0900;
  left: 5%;
  font-size: 32px;
  cursor: pointer;
}

@media (max-width: 600px) {
  .sidebar__hamburgerColumn {
    width: 100%;
    height: 140vh;
  }
}

@media (max-width: 450px) {
  .sidebar__hamburgerColumn > p {
    padding-top: 10px;
  }

  .sidebar__hamburgerColumn > ul > li {
    padding: 10px 0;
  }
}
